In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import gmaps

# Import API key
from api_keys import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# Store csv path ad name
csv = ("Resources/Cleaned_VCE_results_by_school.csv")

# Read in csv file
school_df = pd.read_csv(csv)

In [3]:
school_df

,School Name,Suburb,Type,Sector,Geolocation,Latitude,Longitude,VET Certs With 2021 Enrolments,% Applying for Tertiary Study,Median VCE Score,VCE 40+ %
0,Academy of Mary Immaculate,Fitzroy,Secondary,Non-Gov,Major Cities,-37.803700,144.974000,10,94,30,6.5
1,Adass Israel School,Elsternwick,Combined,Non-Gov,Major Cities,-37.883900,145.008000,3,-,-,-
2,Aitken College,Greenvale,Combined,Non-Gov,Major Cities,-37.627400,144.888000,21,94.2,28,2.7
3,Al Iman College,Melton South,Combined,Non-Gov,Major Cities,-37.707000,144.565000,-,35.7,26,3.9
4,Al Siraat College,Epping,Combined,Non-Gov,Major Cities,-37.624300,145.038000,2,95,30,4.6
...,...,...,...,...,...,...,...,...,...,...,...
373,Yarram Secondary College,Yarram,Secondary,Gov,Inner Regional,-38.566600,146.685000,17,56.5,26,0.7
374,Yarrawonga College P-12,Yarrawonga,Combined,Gov,Inner Regional,-36.021400,146.007000,15,61.9,27,0.9
375,Yea High School,Yea,Secondary,Gov,Inner Regional,-37.215000,145.409000,13,65.5,26,0.7
376,Yeshivah College,St Kilda East,Combined,Non-Gov,Major Cities,-37.867900,145.000000,3,88.2,35,14.3
377,Youth2Industry College,South Melbourne,Secondary,Non-Gov,Major Cities,-37.837087,144.966561,17,-,-,-