In [1]:
import pandas as pd

# Store csv path ad name
csv = ("Resources/Cleaned_VCE_results_by_school_with_distance.csv")

# Read in csv file
school_df = pd.read_csv(csv)

In [2]:
# Create series for each Geolocation
inner_regional = school_df.loc[school_df["Geolocation"] == "Inner Regional"]["Suburb"]
major_cities = school_df.loc[school_df["Geolocation"] == "Major Cities"]["Suburb"]
outer_regional = school_df.loc[school_df["Geolocation"] == "Outer Regional"]["Suburb"]
remote = school_df.loc[school_df["Geolocation"] == "Remote"]["Suburb"]

In [3]:
# Drop the index for each series
inner_regional.reset_index(drop=True, inplace=True)
major_cities.reset_index(drop=True, inplace=True)
outer_regional.reset_index(drop=True, inplace=True)
remote.reset_index(drop=True, inplace=True)

In [4]:
# Create a dataframe of the series created above 
suburb_by_geolocation_df = pd.DataFrame({"Major Cities": major_cities, 
                                         "Inner Regional": inner_regional,
                                        "Outer Regional": outer_regional,
                                        "Remote": remote})

In [5]:
# Display head
suburb_by_geolocation_df.head()

   Major Cities Inner Regional Outer Regional       Remote
0       Fitzroy      Alexandra     Bairnsdale   Cann River
1   Elsternwick        Macedon       Portland   Mallacoota
2     Greenvale     Apollo Bay        Birchip  Murrayville
3  Melton South         Ararat          Boort      Rainbow
4        Epping        Kilmore         Bright          NaN

In [6]:
# Export this df to a csv so we can analyse the data in another notebook
suburb_by_geolocation_df.to_csv("Resources/suburb_by_geolocation.csv", index=False)